name: tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron:  '0 5 * * 2'

jobs:
  tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - {name: Python 3.7, python: 3.7, os: ubuntu}
          - {name: Python 3.8, python: 3.8, os: ubuntu}
          - {name: Python 3.9, python: 3.9-dev, os: ubuntu}
          - {name: Python 3.10, python: 3.10.0-beta - 3.10, os: ubuntu}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install libxml2
        if: startsWith(matrix.python, 'pypy') || startsWith(matrix.python, '3.10')
        run: |
          sudo apt-get install libxml2-dev libxslt-dev
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools tox
      - name: Test
        run: |
          tox -e py -v --color=yes
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
